@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Poppins:wght@300&family=Tajawal:wght@200&display=swap');

.titles {
  font-family: Inter, sans-serif;
  color: white;
  font-weight: 600;
}

.subtitles {
  font-family: Inter, sans-serif;
  color: white;
  font-weight: 400;
}

.texts {
  font-family: Inter, sans-serif;
  color: white;
  font-weight: 200;
}

.animation {
  animation: fade 1s;
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
